* {
  box-sizing: border-box;
}

.modal-wrap {
  position: fixed;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.381);
  transition-duration: 1s;
}

.modal-wrap--active {
  top: 0;
}

.modal {
  width: 535px;
  background-color: rgb(221, 0, 0);
}

.modal-header {
  background-color: rgb(190, 0, 0);
  width: 100%;
  padding: 10px;
  position: relative;
}

.modal-title {
  color: #fff;
}

.close-btn {
  border: none;
  background-color: transparent;
  z-index: 2;
  position: absolute;
  top: 26px;
  right: 10px;
  height: 25px;
  span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
    &:first-of-type {
      position: relative;
      top: 2px;
      transform: rotate(45deg);
    }
    &:last-of-type {
      transform: rotate(135deg);
    }
  }
}

.modal-content {
  padding: 10px;
}
.modal-text {
  text-align: center;
  color: #fff;
}

.modal-footer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding-bottom: 10px;
}
